{{- /* Hint browsers about the light editorial palette and font origins */ -}}
<meta name="color-scheme" content="light">
<meta name="theme-color" content="#fafaf9">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

{{- /* Custom CSS files */ -}}
{{- range .Site.Params.customCSS }}
<link rel="stylesheet" href="{{ . | relURL }}">
{{- end }}

{{- /* Custom JS files */ -}}
{{- range .Site.Params.customJS }}
<script defer src="{{ . | relURL }}"></script>
{{- end }}
