{{- $type := .Get 0 | default "info" -}}
{{- $class := "" -}}
{{- $icon := "" -}}
{{- if eq $type "warning" -}}
  {{- $class = "callout-warning" -}}
  {{- $icon = "!" -}}
{{- else if eq $type "danger" -}}
  {{- $class = "callout-danger" -}}
  {{- $icon = "!!" -}}
{{- else if eq $type "success" -}}
  {{- $class = "callout-success" -}}
  {{- $icon = "+" -}}
{{- else -}}
  {{- $class = "callout-info" -}}
  {{- $icon = "i" -}}
{{- end -}}
<div class="callout {{ $class }}">
  <div class="callout-icon">{{ $icon }}</div>
  <div class="callout-content">
    {{ .Inner | markdownify }}
  </div>
</div>
