{{- $id := printf "tabs-%d" (index (seq 1 1) 0 | add (now.UnixNano)) -}}
<div class="shortcode-tabs" data-tabs-id="{{ $id }}">
  <div class="tabs-nav" role="tablist">
    {{- range $index, $tab := .Scratch.Get "tabs" -}}
    <button
      class="tab-btn{{ if eq $index 0 }} active{{ end }}"
      role="tab"
      data-tab="{{ $index }}"
      aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}"
    >{{ $tab.title }}</button>
    {{- end -}}
  </div>
  <div class="tabs-content">
    {{- range $index, $tab := .Scratch.Get "tabs" -}}
    <div
      class="tab-pane{{ if eq $index 0 }} active{{ end }}"
      role="tabpanel"
      data-tab="{{ $index }}"
    >{{ $tab.content | safeHTML }}</div>
    {{- end -}}
  </div>
</div>
{{- .Scratch.Delete "tabs" -}}
